@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {font-family: 'Quicksand', sans-serif;}

h1 {text-align: justify;
    font-size: 1.5em;
    font-weight: bold;
    clear: both;}

p {text-align: justify;
   text-justify: inter-word;}
